<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="utf-8">
        <title>
            start page
        </title>
    </head>
    <body>
       
        <h1>about page</h1>
        <p>this is test page</p>
        <button >Click</button>
        <button >submit</button>
       
    </body>
</html>